<template>
  <div class='about'>
    <img src='../../assets/about/me.png' />
    <p class='description'>
      I'm a computer engineer who likes creating things, regardless of the medium.
      <br />
      <br />
      This site is a catalogue of all the things I've made that I'm fairly satisfied with.
    </p>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
.about {
  width: calc(100% - 4rem);
}
img {
  width: 75%;
  height: 75%;
  max-width: 44rem;
}
.description {
  margin-top: 2rem;
  font-size: 1rem;
}
</style>