<template>
  <div class='drawing'>
    <div class='drawing-focused' v-if='selectedImage > -1' @mouseenter='hovered = true' @mouseleave='hovered = false'>
      <img v-if='selectedImage > -1' :src='require(`../../assets/drawings/${images[selectedImage]}`)' />
      <transition name='fade'>
        <div class='drawing-controls' v-if='hovered || !store.state.isDesktop'>
          <div class='drawing-control drawing-prev' v-if='selectedImage > 0' @click='prev'>
            <div class="drawing-icon">&larr;</div>
          </div>
          <div class='drawing-control drawing-close' v-if='!store.state.isDesktop' @click='selectedImage = -1'>
            <div class="drawing-icon">&#10005;</div>
          </div>
          <div class='drawing-control drawing-next' v-if='selectedImage < images.length - 1' @click='next'>
            <div class="drawing-icon">&rarr;</div>
          </div>
        </div>
      </transition>
    </div>
    <div class="drawing-library">
      <img :class='`drawing-thumbnail ${i === selectedImage ? "selected" : ""}`' v-for='image, i in images' :key=image :src='require(`../../assets/drawings/${image}`)' @click='selectedImage = selectedImage !== i ? i : -1' />
    </div>
  </div>
</template>

<script>
import { store } from '../Main'

export default {
  name: 'Drawing',
  methods: {
    close() {
      this.selectedImage = -1
    },
    prev() {
      this.selectedImage--
    },
    next() {
      this.selectedImage++
    }
  },
  data() {
    return {
      images: [
        '13.png',
        '12.png',
        '11.png',
        '10.png',
        '9.png',
        '8.png',
        '7.jpg',
        '6.png',
        '5.png',
        '4.png',
        '3.png',
        '2.jpg',
        '1.jpg'
      ],
      selectedImage: -1,
      hovered: false,
      store
    }
  }
}
</script>

<style scoped>
.drawing {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.mobile .drawing {
  width: auto;
}
.drawing-focused {
  display: inline-block;
  position: relative;
  width: calc(100% - 44rem);
  user-select: none;
}
.drawing-focused img {
  max-width: 100%;
  max-height: calc(100vh - 12rem);
}
.mobile .drawing-focused {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #333;
}
.mobile .drawing-focused img {
  max-height: 100%;
}
.drawing-controls {
  display: inline;
}
.drawing-control {
  color: white;
  background-color: rgba(51, 51, 51, 50%);
  width: 30%;
  height: 100%;
  display: inline;
  position: absolute;
  user-select: none;
}
.mobile .drawing-control {
  opacity: 0;
  width: 33.33vw;
  height: 100%;
  position: fixed;
  top: 0;
}
.drawing-icon {
  position: relative;
  top: calc(50% - 3rem);
  font-size: 3rem;
}
.drawing-prev {
  left: 0;
}
.drawing-close {
  left: 33.33vw;
}
.drawing-next {
  right: 0;
}
.drawing-library {
  display: inline-block;
  width: 40rem;
  height: 100%;
  vertical-align: top;
}
.mobile .drawing-library {
  width: 100%;
}
.drawing-thumbnail {
  object-fit: cover;
  max-width: 8rem;
  max-height: 8rem;
  min-width: 6rem;
  min-height: 6rem;
  width: 15vh;
  height: 15vh;
  margin: 2rem;
}
.mobile .drawing-thumbnail {
  margin: 1rem;
}
.drawing-thumbnail.selected {
  box-shadow: 0 0 1rem white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
</style>
