<template>
  <div class='home'>
    <div class='triangle' />
    <canvas id='myCanvas' width='4096' height='2160' />
  </div>
</template>

<script>
export default {
  name: 'Home',
  mounted() {
    console.log('mounted')
    var c = document.getElementById('myCanvas')
    var ctx = c.getContext('2d')
    ctx.fillStyle = 'white'
    ctx.strokeStyle = 'white'

    // Coordinates that the mouse is currently hovering over
    let currentCoords = []

    // Dimensions of a standard triangle
    const triangle = {
      height: 80,
      width: 120
    }

    // Triangles that have been selected by the user
    let selectedTriangles = []

    // Returns the index of a set of coordinates in the selected triangles array
    let checkForCoordIndex = coords => selectedTriangles.findIndex(t => t[0] === coords[0] && t[1] === coords[1])

    // Returns the coordinates (column, row) of a triangle, given x and y position in pixels
    let triangleCoords = (x, y) => {
      let row = Math.floor(y / triangle.height)
      let col = Math.floor(x / (triangle.width/2))

      let relY = y % triangle.height
      let relX = x % (triangle.width / 2)

      if (row % 2 === col % 2) {
        // Down left -> upper right
        if ((relY / triangle.height + relX / (triangle.width / 2)) > 1) col++
      } else {
        // Top left -> lower right
        if (((triangle.height - relY) / triangle.height + relX / (triangle.width / 2)) > 1) col++
      }

      return [col, row]
    }

    // Returns the vertices of a triangle, given its column and row
    let triangleVertices = (col, row) => {
      let vertices = []
      if (col % 2 === row % 2) {
        vertices.push([col * triangle.width / 2, triangle.height * (row + 1)])
        vertices.push([(col + 1) * triangle.width / 2, triangle.height * row])
        vertices.push([(col - 1) * triangle.width / 2, triangle.height * row])
      } else {
        vertices.push([col * triangle.width / 2, triangle.height * row])
        vertices.push([(col + 1) * triangle.width / 2, triangle.height * (row + 1)])
        vertices.push([(col - 1) * triangle.width / 2, triangle.height * (row + 1)])
      }
      return vertices
    }

    // Draws a single triangle using its vertices
    let drawTriangle = vertices => {
      ctx.beginPath()
      ctx.moveTo(...vertices[0])
      ctx.lineTo(...vertices[1])
      ctx.lineTo(...vertices[2])
      ctx.closePath()
      ctx.fill()
    }

    c.addEventListener('mousemove', e => {
      currentCoords = triangleCoords(e.layerX, e.layerY)
      let vertices = triangleVertices(currentCoords[0], currentCoords[1])

      ctx.clearRect(0, 0, 4100, 4100)
      selectedTriangles.forEach(t => drawTriangle(triangleVertices(...t)))
      if (checkForCoordIndex(currentCoords) !== -1) {
        ctx.globalCompositeOperation = 'destination-out'
        drawTriangle(vertices)
        ctx.stroke()
        ctx.globalCompositeOperation = 'source-over'
      } else {
        drawTriangle(vertices)
      }
    })

    c.addEventListener('mousedown', () => {
      let index = checkForCoordIndex(currentCoords)
      if (index !== -1) selectedTriangles.splice(index, 1)
      else selectedTriangles.push(currentCoords)
    })

    c.addEventListener('mouseout', () => {
      ctx.clearRect(0, 0, 4100, 4100)
      selectedTriangles.forEach(t => drawTriangle(triangleVertices(...t)))
    })
  },
  unmounted() {
    window.removeEventListener('resize', this.checkIsDesktop);
  }
}
</script>

<style scoped>
.triangle {
  border-right: 20vw solid transparent;
  border-left: 20vw solid transparent;
  border-bottom: 30vw solid white;
  width: 0px;
  margin: auto;
  display: none;
}
canvas {
  margin: -2rem;
}
</style>
