<template>
  <div class='music'>
    <Song v-for='song in songs' :key=song.filename :masterPlayer='false' :song=song />
  </div>
</template>

<script>
import songs from '../../contentlists/songs.js'

import Song from './music/Song.vue'

export default {
  name: 'Music',
  components: {
    Song
  },
  data() {
    return {
      songs
    }
  }
}
</script>

<style scoped>
</style>