<template>
  <div class='header-item' :class='{ selected, hovered }' :style='cssProps' @mouseenter='hovered = true' @mouseleave='hovered = false'>
    <div class='header-item-text'>
      {{ title }}
      <div class='header-item-underline' v-if=selected />
    </div>
  </div>
</template>

<script>

export default {
  name: 'HeaderItem',
  props: {
    title: String,
    selected: Boolean,
    mousePos: Number,
    index: Number
  },
  data() {
    return {
      hovered: false
    }
  },
  computed: {
    cssProps() {
      let totalHeaderItems = document.getElementsByClassName('header-item').length
      let header = document.getElementsByClassName('header-items')[0]
      let headerWidth = header ? header.clientWidth : 1
      let elementWidth = headerWidth / totalHeaderItems
      let elementPos = (this.index + 0.5) * elementWidth
      let offset = Math.abs(this.mousePos - elementPos)
      let offsetRatio = Math.min(offset / elementWidth, 2)

      return {
        '--font-size': this.mousePos > -1 ? 2.25 - 0.75 * offsetRatio + 'rem' : '2rem',
        '--flex': this.mousePos > -1 ? 3 - 0.75 * offsetRatio : '1'
      }
    }
  }
}
</script>

<style scoped>
.header-item {
  flex: var(--flex);
  font-size: var(--font-size);
  align-self: center;
  height: 100%;
  position: relative;
}
.header-item.hovered {
  color: #b33;
}
.header-item-underline {
  position: relative;
  top: 0.5rem;
  left: 7.5%;
  width: 85%;
  height: 0.25rem;
  background-color: red;
  user-select: none;
}
.header-item-text {
  position: absolute;
  bottom: 1rem;
  width: 100%
}
</style>
