<template>
  <div class='logo'>
    <div class='logo-outer' :class='{ selected, hovered }' @mouseenter='hovered = true' @mouseleave='hovered = false'>
      <div class='logo-inner' />
    </div>
  </div>
</template>

<script>

export default {
  name: 'Logo',
  props: {
    selected: Boolean
  },
  data() {
    return {
      hovered: false
    }
  }
}
</script>

<style scoped>
.logo {
  position: absolute;
  width: 8rem;
}
.logo-outer {
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 4.5rem solid white;
  position: relative;
  display: inline-block;
}
.logo-outer.hovered {
  border-bottom-color: #b33;
}
.logo-outer.selected {
  border-bottom-color: red;
}
.logo-inner {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 3rem solid #333;
  border-top: 40px solid transparent;
  position: absolute;
  top: -1.5rem;
  left: -2rem;
  display: inline-block;
}
</style>
