<template>
  <!-- <div :class='`main ${store.state.isDesktop ? "" : "mobile"}`' v-if='store.state.isDesktop'> -->
  <div :class='`main ${store.state.isDesktop ? "" : "mobile"}`'>
    <div class='header'>
      <Logo :selected='page==="Home"' @click='select("Home")' />
      <div class='header-items' v-if='store.state.isDesktop' @mousemove='mouse' @mouseleave='mouse'>
        <HeaderItem v-for='item, i in headers' :key=i :title=item :index=i :mousePos=mousePos :selected='page===item' @click='select(item)' />
      </div>
      <div class='mobile-header' v-else @click='select(headers[(headers.indexOf(page) + 1) % headers.length])'>
        {{ page }}
      </div>
    </div>
    <div class='body'>
      <transition name='slide' :style='loadDirection'>
        <component class='body-content' :is=page />
      </transition>

      <transition name='rise' :style='loadDirection'>
        <Song :masterPlayer='true' :song=store.state.selectedSong v-if='store.state.isDesktop && store.state.selectedSong && page !== "Music"' />
      </transition>
      <div class='song-spacer' v-if='store.state.selectedSong && page !== "Music"' />
      <audio id='audio' class='site-audio' v-if='store.state.selectedSong' autoplay ref='audio' @timeupdate='store.updateTime' @play='store.resumeSong' @pause='store.pauseSong' :src='require(`../assets/music/${store.state.selectedSong.filename}`)' >
        Your browser does not support the audio tag.
      </audio>
    </div>
  </div>
  <!-- <div class='out-of-order' v-else>
    Sorry, currently this site only works on desktop :(
    <br />
    <br />
    Please come back on something other than a phone or tablet
  </div> -->
</template>

<script>
import { reactive } from 'vue'

import Logo from './Logo.vue'
import HeaderItem from './HeaderItem.vue'
import Home from './pages/Home.vue'
import Drawing from './pages/Drawing.vue'
import Music from './pages/Music.vue'
import Projects from './pages/Projects.vue'
import About from './pages/About.vue'
import Song from './pages/music/Song.vue'

export const store = {
  state: reactive({
      isDesktop: true,
      selectedSong: null,
      songTime: 0,
      isPaused: false
  }),

  setDrawings(drawings) {
    this.state.drawings = drawings
  },
  setMusic(music) {
    this.state.music = music
  },
  setIsDesktop(isDesktop) {
    this.state.isDesktop = isDesktop
  },
  selectSong(songdata) {
    if (songdata === this.state.selectedSong) {
      this.playSong(document.getElementById('audio'))
    } else {
      this.state.songTime = 0
      this.state.selectedSong = null
      this.state.selectedSong = songdata
    }
  },
  playSong(song) {
    if (!song) return
    if (song.paused) song.play()
    else song.pause()
    this.state.isPaused = song.paused
  },
  seekSong(e) {
    let song = document.getElementById('audio')
    let progress = e.layerX / e.target.clientWidth
    if (progress < 0.04) progress = 0
    song.currentTime = song.duration * progress
  },
  stopSong() {
    this.state.selectedSong = null
    this.state.songTime = 0
  },
  pauseSong() {
    this.state.isPaused = true
  },
  resumeSong() {
    this.state.isPaused = false
  },
  updateTime(e) {
    this.state.songTime = e.target.currentTime
  }
}

export default {
  name: 'Main',
  components: {
    Logo,
    HeaderItem,
    Home,
    Drawing,
    Music,
    Projects,
    About,
    Song
  },
  data() {
    return {
      page: 'Home',
      mousePos: -1,
      headers: [
        'Drawing',
        'Music',
        //'Projects',
        'About'
      ],
      loadDir: 1,
      store
    }
  },
  created() {
    window.addEventListener('resize', this.checkIsDesktop);
    this.checkIsDesktop()
  },
  unmounted() {
    window.removeEventListener('resize', this.checkIsDesktop);
  },
  computed: {
    loadDirection() {
      return {
        '--dir': this.store.state.isDesktop ? this.loadDir : 1
      }
    },
    cssProps() {
      return {
        '--progress': (this.store.state.songTime / this.store.selectSong.duration) * 100 + '%',
      }
    }
  },
  methods: {
    checkIsDesktop() {
      let isDesktop = document.body.clientWidth > 1024
      if (isDesktop !== this.store.state.isDesktop)
        store.setIsDesktop(isDesktop)
    },
    select(item) {
      let oldIndex = this.headers.indexOf(this.page)
      let index = this.headers.indexOf(item)
      this.loadDir = index < oldIndex ? -1 : 1
      this.$nextTick(() => this.page = item)
    },
    mouse(e) {
      if (e.type === 'mousemove') {
        let header = document.getElementsByClassName('header-items')[0]
        this.mousePos = e.clientX - header.offsetLeft
      } else {
        this.mousePos = -1
      }
    }
  }
}
</script>

<style scoped>
.header {
  position: relative;
  padding-top: 1rem;
  width: 100vw;
  user-select: none;
  height: 6rem;
  vertical-align: text-bottom;
  align-items: flex-end;
}
.header-items {
  position: relative;
  left: 8rem;
  bottom: 1rem;
  height: 100%;
  display: flex;
  width: calc(100vw - 8rem);
}
.mobile-header {
  font-size: 3rem;
  text-align: right;
  margin-right: 2rem;
  margin-top: 1rem;
}
.body {
  position: relative;
}
.body-content {
  padding: 2rem;
}

.song-spacer {
  height: 4rem;
}

.out-of-order {
  margin: 4rem 2rem;
  font-size: 2rem;
}

.slide-enter-active, .slide-leave-active {
  transition: all 1s ease-out;
}
.slide-enter-from {
  transform: translateX(calc(var(--dir) * 100vw));
  opacity: 0;
  position: absolute;
}
.slide-leave-to {
  transform: translateX(calc(var(--dir) * -100vw));
  opacity: 0;
  left: 0;
  position: absolute;
}

.rise-enter-active, .rise-leave-active {
  transition: all 0.5s ease-out;
}
.rise-enter-from {
  transform: translateY(4rem);
  position: relative;
}
.rise-leave-to {
  transform: translateY(4rem);
  position: relative;
}
</style>
