<template>
  <div :class='`song ${masterPlayer ? "master-player" : ""}`'>
    <div class='song-play' @click='play'>
      <div class='icon icon-play' v-if='!store.state.selectedSong || store.state.isPaused || (store.state.selectedSong.filename !== song.filename)' />
      <div class='icon icon-pause' v-else />
    </div>
    <div class='song-details' @click='seekSong'>
      <div class='song-progress-bar' :style='cssProps' />
      <div class='song-title'>
        {{ song.title }}
      </div>
      <div class='song-duration' v-if='isCurrentSong'>
        {{ formatTime(store.state.songTime) }} / {{ formatTime(song.duration) }}
      </div>
    </div>
    <div class='song-close' v-if='masterPlayer' @click='store.stopSong'>
      &#10005;
    </div>
    <div class='song-body'>
        <!--{{ song.description }}-->
    </div>
  </div>
</template>

<script>
import { store } from '../../Main'

export default {
  name: 'Song',
  props: {
      song: Object,
      masterPlayer: Boolean
  },
  data() {
    return {
      store
    }
  },
  computed: {
    isCurrentSong() {
      return this.store.state.selectedSong  && (this.store.state.selectedSong.filename === this.song.filename)
    },
    cssProps() {
      let progress = this.isCurrentSong ? (this.store.state.songTime / this.song.duration) * 100 : 0
      progress = `${Math.min(progress, 100)}%`
      return {
        '--progress': progress
      }
    }
  },
  methods: {
    play() {
      this.store.selectSong(this.song)
    },
    updateTime(e) {
      store.updateTime(e)
    },
    updateDuration(e) {
      store.updateDuration(e)
    },
    playSong() {
      store.playSong(this.$refs.audio)
    },
    seekSong(e) {
      if (this.isCurrentSong) store.seekSong(e, this.$refs.audio)
    },
    stopSong() {
      store.stopSong()
    },
    pauseSong() {
      store.pauseSong()
    },
    resumeSong() {
      store.resumeSong()
    },
    formatTime(time) {
      if (!time) return '--:--'
      let minutes = Math.floor(time / 60)
      let seconds = Math.floor(time % 60)
      return String(minutes).padStart(2, '0') + ':' + String(seconds).padStart(2, '0')
    }
  }
}
</script>

<style scoped>
.song-spacer {
  height: 4rem;
}
.song {
  background: #222;
  width: 100%;
  height: 4rem;
  display: table;
  user-select: none;
  margin-top: 2rem;
}
.song-play, .song-close {
  width: 4rem;
  height: 100%;
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
}
.icon {
  position: relative;
  left: 1.325rem;
}
.icon-play {
  border-left: 1.5rem solid white;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
.icon-pause {
  width: 0.75rem;
  height: 1.5rem;
  border-left: 0.25rem solid white;
  border-right: 0.25rem solid white;
}
.song-close {
  border-left: 1px #888 solid;
}
.song-details {
  height: 100%;
  border-left: 1px #888 solid;
  position: relative;
  overflow-x: hidden;
}
.slide-leave-to .song-details {
  width: calc(100vw - 9rem);
}
.song-progress-bar {
  background-color: #666;
  width: var(--progress);
  height: 100%;
  position: absolute;
  left: 0;
  pointer-events: none;
}
.song-title {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  pointer-events: none;
}
.song-duration {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  pointer-events: none;
}
.mobile .song-title {
  left: 1rem;
  top: 0.5rem;
  font-size: 0.75rem;
}
.mobile .song-duration {
  right: 1rem;
  top: 2.5rem;
}

.song.master-player {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0rem;
  overflow-x: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
</style>

